absl-py==0.15.0
appdirs==1.4.4
attrs==21.2.0
beautifulsoup4==4.10.0
blobfile==1.2.5
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.7
clip @ git+https://github.com/openai/CLIP.git@e184f608c5d5e58165682f7c332c3a8b4c1545f2
coloredlogs==15.0.1
cPython==0.0.6
cssutils==2.3.0
cycler==0.10.0
Cython==0.29.24
dataclasses==0.6
decorator==4.4.2
diffvg==0.0.1
distro==1.6.0
filelock==3.3.2
ftfy==6.0.3
future==0.18.2
gdown==4.2.0
greenlet==1.1.2
grpcio==1.41.1
humanfriendly==10.0
idna==3.3
imageio==2.10.1
imageio-ffmpeg==0.4.5
importlib-metadata==4.8.1
iniconfig==1.1.1
Jinja2==3.0.2
jsonpatch==1.32
jsonpointer==2.1
kiwisolver==1.3.2
llvmlite==0.37.0
Mako==1.1.5
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.3
mock==4.0.3
mypy==0.910
mypy-extensions==0.4.3
networkx==2.6.3
numba==0.54.1
numpy==1.20.3
nvidia-pyindex==1.0.9
oauthlib==3.1.1
packaging==21.0
pandas==1.3.4
pbr==5.6.0
Pillow==8.4.0
pkg_resources==0.0.0
pluggy==1.0.0
proglog==0.1.9
protobuf==3.19.0
py==1.10.0
pyaml==21.10.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycryptodomex==3.11.0
pycuda==2021.1
pygame==2.0.2
pymongo==3.12.1
pyparsing==3.0.2
PySocks==1.7.1
pytest==6.2.5
python-dateutil==2.8.2
pytools==2021.2.8
pytz==2021.3
PyWavelets==1.1.1
PyYAML==6.0
pyzmq==22.3.0
regex==2021.10.23
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-build==0.12.0
scikit-image==0.18.3
scipy==1.7.1
seaborn==0.11.2
six==1.16.0
soupsieve==2.3
SQLAlchemy==1.4.26
svgpathtools==1.4.2
svgwrite==1.4.1
testresources==2.0.1
tifffile==2021.10.12
toml==0.10.2
torch-tools==0.1.5
torchfile==0.1.0
torchvision==0.11.1
tornado==6.1
tqdm==4.62.3
tweepy==4.3.0
typed-ast==1.4.3
typing-extensions==3.10.0.2
urllib3==1.26.7
visdom==0.1.8.9
wcwidth==0.2.5
websocket-client==1.2.1
Werkzeug==2.0.2
wget==3.2
xmltodict==0.12.0
zipp==3.6.0
